.main {
  overflow-x: hidden;
  overflow-y: auto;
}
.wrap {
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}
.rating-wrap {
  display: flex;
  align-items: flex-end;
}
.rating-wrap > p {
  font-weight: 800;
}
.rating-wrap p:first-of-type {
  font-size: 22px;
  margin-right: 10px;
}
.rating-wrap p:last-of-type {
  font-size: 26px;
  color: #FFEC15;
}
.rating-wrap p:last-of-type span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: inherit;
}

/* HEADER 헤더 */
.header {
  width: 100%;
  padding: 50px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}
.header.hidden {
  transform: translateY(-100px);
}
.header .logo {
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  border: 2px solid #fff;
  text-align: center;
  padding: 0px 10px;
  border-radius: 2px;
  transition: all 0.3s;
}
/* .header .logo:hover {
  background-color: #fff;
  color: #222;
} */

.list-btn {
  width: 32px;
  height: 32px;
  background: url('../../public/assets/imgs/icon/icon_list.svg') no-repeat center;
  position: relative;
}
.list-btn::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  right: 6px;
  top: 14px;
  background-color: #000;
  transform: rotate(195deg);
  transition: all 0.3s;
}
.list-btn:hover::after {
  transform: rotate(0deg);
}
.search-box  {
  display: flex;
  align-items: center;
}
.search-box .search-input {
  width: 200px;
  margin-right: 5px;
  background-color: transparent;
  font-weight: 300;
  text-align: right;
}
.search-box .search-input::placeholder {
  opacity: 0.6;
}
.search-box .search-btn {
  width: 32px;
  height: 32px;
  background: url('../../public/assets/imgs/icon/icon_search.svg') no-repeat center;
}
.nav {
  width: 32px;
  height: 32px;
}
.nav .dim {
  visibility: hidden;
  opacity: 0;
}
.nav.on .dim {
  width: 100%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.nav .nav-btn {
  width: 32px;
  height: 32px;
  background: url('../../public/assets/imgs/icon/icon_menu.svg') no-repeat center;
  position: fixed;
  z-index: 2;
}
.nav .nav-list {
  opacity: 0;
  visibility: hidden;
  width: 300px;
  height: 100vh;
  margin-left: -40px;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.4);
  transition: all 0.3s;
}
.nav .nav-list a {
  position: absolute;
  left: 50px;
  top: 232px;
  font-size: 22px;
  font-weight: 600;
}
.nav .nav-list a:nth-of-type(2) {
  top: 292px;
}
.nav .nav-list a:nth-of-type(3) {
  top: 352px;
}

.nav.on .nav-list{
  opacity: 1;
  visibility: visible;
  margin-left:0;
  transition: all 0.3s;
}
.nav.on .nav-btn {
  background: url('../../public/assets/imgs/icon/icon_x.svg') no-repeat center;
}

/* HOME 홈 */
.home.wrap {
  height: 100%;
}
.home .tag-list {
  display: flex;
  margin-bottom: 25px;
}
.home .tag-list li {
  padding: 5px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 900;
}
.home .tag-list li.top {
  background-color: #d72020;
}
.home .tag-list li.best {
  background-color: #31CEBF;
}
.home .tag-list li.most {
  /* background-color: #357EF1; */
  background-color: #DDEF73;
  color: #222;
}
.home .tag-list li:not(:first-of-type) {
  margin-left: 7px;
}
.home .video {
  width: 100%;
  max-width: 1920px;
  height: 886px;
  position: relative;
  left: 50%;
  top: 0;
  margin-top: -175px;
  transform: translate(-50%);
  overflow: hidden;
}
.home .video iframe {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  position: relative;
  left: 15%;
  top: 0;
}
.home .video .video-txt {
  max-width: 600px;
  position: absolute;
  left: 150px;
  bottom: 195px;
  z-index: 2;
}
.home .video .video-txt .title {
  font-size: 75px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 25px;
}
.home .video .video-txt .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  color: #afafaf;
}
.btn-wrap {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.btn-wrap button {
  padding: 8px 16px;
  border: 2px solid #fff;
  font-size: 14px;
  transition: all 0.3s;
  font-weight: 900;
  border-radius: 999px;
}
.btn-wrap .pop-btn {
  padding-left: 38px;
  padding-right: 14px;
  background: url('../../public/assets/imgs/icon/icon_play.svg') no-repeat center left 10px / 24px;
}
.btn-wrap button:not(:first-of-type) {
  margin-left: 10px;
}
.btn-wrap button:hover {
  background-color: #fff;
  color: #222;
}
.btn-wrap .pop-btn:hover {
  background-image: url('../../public/assets/imgs/icon/icon_play_on.svg');
}
.home .container {
  height: 100%;
  flex-direction: column;
  position: relative;
  bottom: -80%;
  background-color: #000;
}
.home .cont-box {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.home .cont-box > .title {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  font-size: 20px;
  z-index: 2;
}
.home .swiper .swiper-wrapper {
  padding-top: 50px !important;
}
.home .btn-wrap .move-detail-btn {
  border-color: #2f2f2f;
  background-color: #2f2f2f;
  padding: 10px 8px;
  display: flex;
  align-items: center;
}
.home .btn-wrap .move-detail-btn span {
  width: 4px;
  height: 4px;
  background-color: #fff;
  display: block;
  border-radius: 50%;
  position: relative;
  top: 0;
}
.home .btn-wrap .move-detail-btn span:not(:first-of-type) {
  margin-left: 3px;
}
.home .btn-wrap .move-detail-btn:hover span{
  animation: more 0.3s linear;
}
.home .btn-wrap .move-detail-btn:hover span:nth-of-type(2){
  animation-delay: 0.1s;
}
.home .btn-wrap .move-detail-btn:hover span:nth-of-type(3){
  animation-delay: 0.2s;
}

@keyframes more {
  0%, 100% {
      top: 0
  }
  50% {
      top: -2px;
  }
}

/* LIST 리스트 */
.list.wrap {
  background: #000 url('../imgs/backdrop_path_nodata.jpg') no-repeat center / cover;
  position: relative;
}
.list.wrap::after, .detail.wrap::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background: url('../../public/assets/imgs/bg_dim.png') no-repeat center / cover;
  z-index: 1;
}
.video::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background:linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.9) 19%, rgba(0,0,0,0.6) 26%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 40%);
  position: absolute;
  left: 15%;
  bottom: 0;
  z-index: 1;
}
.video::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background:linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.9) 19%, rgba(0,0,0,0.6) 26%, rgba(0,0,0,0.3) 30%, rgba(0,0,0,0) 40%);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.list .rating-wrap {
  margin-bottom: 90px;
}
.detail .rating-wrap {
  margin-bottom: 55px;
}
.play-btn {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  top: calc(50% - 120px);
  transform: translate(-50%, calc(-50%));
  background: url('../../public/assets/imgs/icon/icon_play.svg') no-repeat center / 130px;
  transition: all 0.3s;
  z-index: 10;
}
.play-btn:hover {
  background-size: 140px;
  transition: all 0.3s;
}
.container {
  width: calc(100% - 150px);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  left: 150px;
  bottom: 80px;
  z-index: 2;
}
/* LEFT_SIDE INFO 영화 정보 */
.movie-info-wrap {
  width: calc(100% - 54%);
  margin-bottom: 30px;

}
.movie-info-wrap .title {
  min-height: 190px;
  margin-left: -4px;
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: 800;
  line-height: 95px;
}
.movie-info-wrap .desc {
  width: 100%;
  margin-top: 55px;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.genre-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.text-list {
  display: flex;
  align-items: center;
}
.text-list .networks-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-list .networks-wrap img{
  width: auto;
  margin-top: -1px;
  max-height: 22px;
  padding: 4px;
  cursor: pointer;
  background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
}
.text-list .lang {
  font-size: 16px;
  margin-left: 20px;
  padding: 3px 15px;
  background-color: #fff;
  color: #222;
  font-weight: 800;
  border-radius: 999px;
  text-transform: uppercase;
}
.text-list li {
  font-size: 22px;
  font-weight: 800;
  white-space: nowrap;
}
.text-list li span {
  font-size: inherit;
  font-weight: 500;
}
.text-list li:not(:last-of-type) {
  margin-right: 15px;
}
.text-list li:not(:last-of-type)::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 16px;
  margin-left: 15px;
  background-color: #fff;
}
.genre-wrap .text-list li:nth-last-of-type(2) {
  margin-right: 0;
}
.genre-wrap .text-list li:nth-last-of-type(2)::after {
  display: none;
}

/* RIGHT_SIDE TAB 오른쪽 탭 */
.tab-wrap {
  width: calc(100% - 46%);
  margin-left: 148px;
  position: relative;
}
.tab {
  display: flex;
  align-items: center;
  margin-bottom: -30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.tab li {
  font-size: 22px;
  font-weight: 800;
  opacity: 0.5;
  cursor: pointer;
}
.tab li.on {
  opacity: 1;
}
.tab li:not(:first-of-type) {
  margin-left: 25px;
}
.swiper {
  width: 100%;
}
.swiper .swiper-wrapper{
  padding-top: 60px;
  display: flex;
  align-items: center;
}
/* .swiper:not(.trailer-list) .swiper-slide {
  max-width: 130px;
} */
.wrap:not(.detail) .swiper .swiper-slide {
  cursor: pointer;
  transition: transform 0.3s;
}
.wrap.detail .swiper .swiper-slide .movie-item > img,
.wrap.detail .swiper .swiper-slide .movie-item > iframe {
  cursor: pointer;
}
.swiper .swiper-slide:hover {
  transform: translateY(-5px);
}

.swiper-button-prev {
  top: 14px !important;
  left: auto !important;
  right: 205px !important;
}
.swiper-button-prev::after {
  font-size: 0 !important;
  width: 30px;
  height: 30px;
  background: url('../../public/assets/imgs/icon/icon_arrow_swiper.svg') no-repeat center !important;
  display: block;
  transform: rotate(180deg);
}
.swiper-button-next {
  top: 14px !important;
  left: auto !important;
  right: 155px !important;
}
.swiper-button-next::after {
  font-size: 0 !important;
  width: 30px;
  height: 30px;
  background: url('../../public/assets/imgs/icon/icon_arrow_swiper.svg') no-repeat center !important;
  display: block;
}

/* LIST 리스트 */
.search-list {
  padding: 150px 150px 0 150px;
  transition: padding-top 0.7s ease-in-out;
}
.search-list.top {
  padding-top: 30px;
}
.search-list .movie-list-box {
  width: 100%;
  height: calc(100% - 216px);
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search-list .movie-list-box li {
  width: calc((100% / 6) - 20px);
  min-width: 144px;
  cursor: pointer;
}
.search-list .movie-list-box li {
  margin-left: 24px;
}
.search-list .movie-list-box li:nth-child(6n+1) {
  margin-left: 0;
}
.search-list .movie-list-box li:nth-child(n+7) {
  margin-top: 50px;
}
.movie-item .title {
  margin-top: 15px;
  height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}

/* ERROR 에러페이지 */
.error > div {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.error-msg {
  font-size: 100px;
  font-weight: 900;
  text-decoration: underline;
}
.error button {
  margin-top: 20px;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 999px;
}

/* DETAIL 상세페이지 */
.detail {
  width: 100%;
  background: #000 url('../imgs/backdrop_path_nodata.jpg') no-repeat center / cover;
}
.detail .movie-info-wrap {
  width: calc(100% - 400px);
  margin-bottom: 0;
}
.detail .movie-info-wrap .title {
  min-height: auto;
}
.detail .movie-info-wrap .title.pointer {
  cursor: pointer;
  width: fit-content;
}
.detail .movie-info-wrap .desc {
  margin-top: 35px;
}
.detail .container {
  width: calc(100% - 150px);
  align-items: flex-start;
  flex-direction: column;
  bottom: 80px;
}
.detail .side-menu-wrap {
  position: absolute;
  right: 150px;
  top: calc(32%);
  text-align: right;
}
.bottom-wrap {
  width: 100%;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-wrap .label {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
}
.trailer-wrap, .cast-wrap, .season-wrap {
  min-height: 314px;
  position: relative;
}
.cast-wrap, .season-wrap {
  width: calc(100% - 58%);
}
.trailer-wrap {
  width: calc(100% - 48%);
}
.popup {
  width: 100%;
  height: calc(100vh + 40px);
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: -20px;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
  transition: all 0.3s;
}
.popup.on {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
.popup *:first-child {
  width: 30%;
  height: auto;
  padding: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  cursor: pointer;
}
.popup .movie-item {
  width: 55% !important;
  height: 50% !important;
}
.popup .movie-item > iframe {
  width: 100% !important;
  height: 100% !important;
}
.poster-btn {
  margin-bottom: 10px;
  padding: 9px 40px 9px 20px;
  font-weight: 800;
  border: 2px solid #fff;
  border-radius: 999px;
  background: url('../../public/assets/imgs/icon/icon_arrow_link.svg') no-repeat center right 20px;
}

.search-list-top-wrap {
  margin-bottom: 40px;
}
.search-list-top-wrap .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-list-top-wrap .top .sort-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-list-top-wrap .bottom {
  max-height: 55px;
  margin-top: 15px;
  border-top: 1px solid rgba(200,200,200,0.5);
  padding-top: 20px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.search-list-top-wrap .bottom .sort-flip-btn {
  position: absolute;
  right: 0;
  top: 20px;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(255,255,255,0.5);
  background: url('../../public/assets/imgs/icon/icon_arrow_swiper.svg') no-repeat center / 20px;
  transform: rotate(90deg);
}
.search-list-top-wrap .bottom.on .sort-flip-btn {
  transform: rotate(270deg);
}

.search-list-top-wrap .bottom.on {
  max-height: 999px;
}
.search-list-top-wrap .bottom .sort-list {
  width: calc(100% - 100px);
}
.search-list-top-wrap .sort-list {
  gap: 8px;
}
.sort-list {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px;
  border: 2px solid #fff;
  border-radius: 999px;
}
.sort-list li {
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
}
.sort-list li.on {
  padding: 3px 10px;
  background-color: #fff;
  color: #222;
  border-radius: 999px;
}
.sort-list:not(.chk-type) li:not(:last-of-type) {
  margin-right: 12px;
}
.sort-list:not(.chk-type) li:first-of-type {
  margin-left: 12px;
}
.sort-list:not(.chk-type) li:first-of-type.on {
  margin-left: 0;
}
.sort-list:not(.chk-type) li:last-of-type {
  margin-right: 12px;
}
.sort-list:not(.chk-type) li:last-of-type.on {
  margin-right: 0;
}
.sort-list.chk-type {
  padding: 0;
  border: none;
}
.sort-list.chk-type li {
  margin: 0 !important;
  padding: 6px 13px;
  font-size: 12px;
  border: 2px solid #fff;
  border-radius: 999px;
}
.sort-list.chk-type:not(.icon) li.selected {
  background-color: #fff;
  color: #222;
}
.sort-list.chk-type.icon li {
  padding: 6px 13px 6px 28px !important;
  background: transparent url('../../public/assets/imgs/icon/icon_chk.svg') no-repeat left 8px center;
}
.sort-list.chk-type.icon li.on {
  background: #fff url('../../public/assets/imgs/icon/icon_chk_on.svg') no-repeat left 8px center;
}



/*  */
@media screen and (max-width : 1200px) {
  
}